<div class="card">
  <div class="card-block">
    <h3 class="card-title">
    	From: <%= message.sender_name %>	
    </h3>
	<%if message.read_at == nil %> 
		<strong><p class="card-text"><%= message.body %></p></strong>
	<% else %>
		<p class="card-text">You can only view this message once (which you have!)</p>
	<% end %>
 	<p class="card-text"><small class="text-muted">Sent: <%= message.created_at.in_time_zone("Hanoi").to_s(:short) %></small></p>
	<% message.mark_as_read! %>
  </div>
</div>